.container {
  text-align: center;
  padding: 20px;
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.board {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(7, 60px);
  grid-template-rows: repeat(6, 60px);
  gap: 5px;
  justify-content: center;
  margin: 0 auto;
  background-color: #1c61f2; /* Blue board */
  padding: 10px;
  border-radius: 10px;
}

.cell {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cell:disabled {
  cursor: not-allowed;
}

.resetButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resetButton:hover {
  background-color: #0056b3;
}

.rulesButton {
  margin-top: 20px;
  margin-left: 1rem;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rulesButton:hover {
  background-color: #1c61f2;
}
